:root{
    --bg-color: #2a132d;
    --fg-color: #09f392;
    --space-large: 100px;
    --space-medium: 24px;
    --space-small: 10px;
    --font-size-regular: 20px;

}

body{
    background-color: rgb(10, 105, 229);
    color: var(--fg-color);
    font-size: var(--font-size-regular);
}

button{
    margin: var(--space-medium);
    border: 1px solid var(--fg-color);
    background-color: green;
    color: black;
    font-size: var(--font-size-regular);
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: var(--bg-color);
}
main{
    padding: var(--space-large);
}

#container{
    width: 100%;
}
#container img{
    width: 100%;
    max-width: 700px;
}
/* hide the open rose by default */

#container img{
    display:none;
}

#container.field-pov #field-pov{
    display: block;
}

#container.dugout-pov #dugout-pov{
    display: block;
}

#container.ondeck-pov #ondeck-pov{
    display: block;
}

#container.player-pov #player-pov{
    display: block;
}

#hp1 {
    font-family: "League Gothic", sans-serif;
    display: block;
    margin-top: 100px;
    font-size: 20px;
   margin-right: 250 px;
    color: rgb(6, 6, 6);
}