body{
    padding:0;
    margin: 0;
    background-color: #2ECC71;
    color: #090808;
    font-size: 30px;
    font-family: Alfa Slab One, serif;
}

.reanimation-title{
    text-align: center;
    font-size: 4vw;
    color:antiquewhite
}


.gallery{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 25vh;
    padding-top: 25px;
    position: absolute;
    object-fit: cover;
    z-index: 2;
}

.gallery img{ 
    width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;

}

.gallery .example{
    /*top: 50px;
    left: 200px;*/
}

nav{
    padding: 10px;

    /*width: 100%;*/
    z-index: 2;
}

nav a{
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-right: 25px;
    color: rgb(2, 15, 26);
    text-decoration: none;
}

.bodytext{
    position: fixed;
    z-index:1;
    height: 500px;
    overflow: scroll;

}

#hp{
text-align: left;
margin-left: 50px;
}


#special{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-right: 50px;
}

#layer{
    margin-top: 350px;
}

#poem{ 
    margin-top: -10px;
}
