body{
    padding:0;
    background-color: #C41E3A;
    color: #090808;
    font-size: 30px;
    font-family: "League Gothic", sans-serif;
}

.reanimation-title{
    background-color: rgb(26, 73, 30);
    width: 50%;
    font-size: 4vw;
}
.title-div{
    width: 50%;
    background: rgb(26, 73, 30);
}

.gallery{
    width: 7000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.gallery img{ 
    width: 25%;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery .example{
    /*top: 50px;
    left: 200px;*/
}

nav{
    background-color: rgb(26, 73, 30);
    color: black;
    padding: 10px;
    position:fixed;
    top:0;
    right: 0;
    /*width: 100%;*/
    z-index: 2;
}

nav a{
    margin-right: 25px;
    color: rgb(2, 15, 26);
    text-decoration: none;
}

#hp1{
    font-family: "League Gothic", sans-serif;
    display: block;
    margin-top: 200px;
    color: chartreuse;
    text-align: center;
}