body{
    padding:0;
    background-color: #2d83fb;
    color: #090808;
    font-size: 30px;
    font-family: Alfa Slab One, serif;
}

.reanimation-title{

    font-size: 4vw;
}


.gallery{
    width: 7000px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100vh;
    padding-top: 25px;
    position: absolute;
    object-fit: cover;
    z-index: 2;
}

.gallery img{ 
    width: 25%;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;

}

.gallery .example{
    /*top: 50px;
    left: 200px;*/
}

nav{
    padding: 10px;
    position:fixed;
    top:0;
    right: 0;
    /*width: 100%;*/
    z-index: 2;
}

nav a{
    margin-right: 25px;
    color: rgb(2, 15, 26);
    text-decoration: none;
}

.bodytext{
    position: fixed;
    z-index:1;
    height: 500px;
    overflow: scroll;

}