/* #hover-text #world{
    display: none;
}


#hover-text:hover #world{
    display:block;
}

#hover-text:hover #hello{
    display:none;
} */

#swap-text #every{
    display: none;
}

#swap-text:hover #every{
    display: inline;
}
#swap-text:hover #game{
    display: none;
}

#image-gallery{
    display: flex;
    flex-direction: column;
}
#image-gallery div {
    height: 25vh;
    cursor: pointer;
}
#image-gallery img{
    width: 25vw;

}

#layer-background{
    color: blueviolet;
}

body{
    background-color:cadetblue;
    color: brown;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 30px;
}
.hoverdiv img{
    opacity: 0;
    transition: 0.5s;
}
.hoverdiv:hover img{
    opacity: 1;

}
.hoverdiv{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
    height: 30px;
    flex-basis: 30px;
}
#hp1{
    color: brown;
     font-family: "Anton", sans-serif;
     font-size: 30px;
     position: relative;
     z-index: 2;
     display: block;
     margin-top: 150px;
}

#Swing{
    margin-top: -100px;
}

#Repeat{
    margin-top: -100px;
}