body{ 
    font-family: "League Gothic", sans-serif;
    background-color: rgb(1, 124, 14);
    text-align: center;
}
/*  background-image: url(""); and put name of imagebackground-repeat: no repeat; background-size: cover; */
p {
    font-family:"League Gothic", sans-serif;
    margin-top: 100px;
    font-size: 50px;
    color:aqua;
}
/* target anchor tags inside of paragrpahs */
p a {
    font-family: "League Gothic", sans-serif;;
    color: aqua;
}

.second{
    font-family:"League Gothic", sans-serif;
    color:rgb(241, 92, 6);
}

img{ 
    text-align: center;
    width: 500px;
}
.baseballcolor {
    font-family:"League Gothic", sans-serif;
    background-color:crimson;
}
.notcolor {
    font-family: "League Gothic", sans-serif;
    background-color: rgb(249, 76, 185);
}
.romanticcolor{ 
    font-family: "League Gothic", sans-serif;
    background-color: darkcyan;
}
.notcolor p { 
    font-family: "League Gothic", sans-serif;
    font-size: 150px;
}
.romanticcolor p {
    font-family: "League Gothic", sans-serif;
    text-align: center;
    font-size: 200px;
}

.gamecolor {
    font-family:"League Gothic", sans-serif;
    background-color: burlywood;
}
.leapcolor{
    color: hotpink;
    font-family:"League Gothic", sans-serif;
}
.maybecolor{ 
    background-color: rgb(96, 107, 3);
}